/* # サイト全体に適応されるべきスタイルはベースグループ
# レイアウトに関するスタイルはレイアウトグループ
# サイト内全体で使いまわしたいものはベースグループ */


/* ベース
========================================================================= */
body {
    font-family: sans-serif;
}


/* レイアウト
========================================================================= */
.ly_cont {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* モジュール
========================================================================= */
#main span {
    color: #555;
    font-size: 14px;
}

#main div.module.main-module {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
}

#main .module.main-module .imagae-wrapper { /* divを削除し、.image-wrapperを追加 */
    flex: 1 1 25%;
    margin-right: 3.33333%;
}

#main .module.main-module .imagae-wrapper img { /* divを削除し、.image-wrapperを追加 */
    max-width: 100%;
    height: auto;
}

#main div.module.main-module .body { /* divを削除し、.bodyを追加 */
    flex: 1 1 68.33333%;
}

#main div.module.main-module .title { /* divを削除し、.titleを追加 */
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

#main div.module.main-module .sub-title { /* divを削除し、.sub-titleを追加 */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid #555;
}